version: 2.1
jobs: 
  build_and_test:
    docker:
      - image: circleci/node:9.11.2-jessie
    steps:
      - checkout
      - run: 
          name: building environment
          command: cd ./RoktSampleApp && npm install --save-dev
      - run:  
          name: running unit tests
          command: cd ./RoktSampleApp && npm run test
  
  deploy:
    docker:
      - image: circleci/node:9.11.2-jessie
    steps:
      - checkout
      - run: 
          name: attach auth token with registry into the project
          command: cd ./Rokt.Widget && echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ./.npmrc
      - run:
          name: npm publish 
          command: cd ./Rokt.Widget && npm publish

workflows:
  version: 2.1
  build_test_and_deploy:
    jobs:
      - build_and_test
      - hold:
          type: approval
          requires:
            - build_and_test
          filters:
            branches:
              only: /release-(.*)/
      - deploy:
          requires:
            - hold
          filters:
            branches:
              only:
                - /release-(.*)/


