name: Run trunk upgrade

on:
  workflow_call:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate-and-call-upgrade:
    runs-on: ubuntu-latest
    outputs:
      generated-token: ${{ steps.generate-token.outputs.token }}
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SDK_RELEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.SDK_RELEASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            rokt-sdk-react-native

  trunk-upgrade:
    needs: generate-and-call-upgrade
    name: Run trunk upgrade
    uses: ROKT/rokt-workflows/.github/workflows/trunk-upgrade.yml@main
    with:
      token: ${{ needs.generate-and-call-upgrade.outputs.generated-token }}

  trunk-check:
    name: Trunk code check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          check-mode: all
